// put this class on the body and it will ONLY AFFECT THE HOME PAGE

.home{
    li{
        
    }
}

$show-ads: true;

@if $shows-ads == true {
    .ads{
        display: block;
    }
} @else {
    .ads{
        display: none;
    }
}