@import"variables.scss";
@import"mixins.scss";
// @import"home.scss";
// @import"navbar.scss";

.text{
    font-size: 20px;
    color: #000;
    line-height: 20px;
    background-color: blue;
}

body {
    font-family: $font-stack;
}

// instead, we can NEST IT!!!!! 
// ul li {
//     list-style-type: none;
// }

// ul li ul li {
//     color: cyan;
// }

ul{
    li{
        list-style-type:none; 
        ul{
            li{
                color: white;
            }
        }
    }
}

#header{
    float: left;
    ul{
        background-color: #ddd;
        float: left;
        @include border-radius(10px);
        li{
            background-color: rosybrown;
            @include border-radius(5px);
        }
    }
}
// extend INHERITS the .text styles
#content{
    @extend .text;
}

li:hover{
    transition: all 2s;
    position: relative;
    left: 1200px - (100px);
}

// loops in sass!
$num: 4;

@while $num > 0{
    $num: $num - 1;
}

@for $i from 1 through 12 {
    $width: percentage(1/$i);
    .col-#{$i} {
        width: $width;
    }
}